import /init.recovery.qcom_decrypt.rc

on init
    exec u:r:recovery:s0 -- /system/bin/detect-dynamic-partitions.sh
    exec u:r:recovery:s0 -- /system/bin/resetprop ro.boot.verifiedbootstate orange
    setprop sys.usb.configfs 1

on property:ro.boot.usbcontroller=*
    setprop sys.usb.controller ${ro.boot.usbcontroller}
    wait /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode
    write /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode peripheral
    wait /sys/class/udc/${ro.boot.usbcontroller} 1


service vendor.qti.vibrator /system/bin/vendor.qti.hardware.vibrator.service
    user root
    group root
    disabled
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib:/sbin
    seclabel u:r:recovery:s0

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on boot
    start health-hal-2-1
    start vendor.qti.vibrator
